<h1>Hero Stories App</h1>

<p>Hi, <%= @user.name %>!</p>

<p>Welcome to Hero Stories App! Follow the link to activate your account:</p>

<%= link_to 'Activate', edit_account_activation_url(@user.activation_token, email: @user.email) %>
